@import "typeface-roboto";
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
    html,
    body,
    #svelte {
        @apply min-h-screen flex flex-col;
    }
}

@layer components {
    .prose-auto {
        @apply prose dark:prose-dark lg:prose-lg;
    }

    .netherrack {
        background-image: url("/netherrack_overlay.webp");
        background-size: 64px;
        background-repeat: repeat;
        transition: background-image 0.3s ease-in-out;
        image-rendering: crisp-edges;
        image-rendering: pixelated;
    }

    .blue-heart {
        color: rgb(17, 188, 255);
    }

    .mc-clock-after {
        position: absolute;
        z-index: -1;
        background-image: url(data:image/webp;base64,UklGRn4AAABXRUJQVlA4THEAAAAvD8ADEDegGJIkZjkS1fm/TiNpKGjbhimO7oEa/otkCtpGgU7IiyKsIBgx8x8A/GOC+k7lI8fUAptIklW99ynn+NcDAV/EN0A5r38PRxYi+j8Bzn4BQEOmm1t6rhWmmwPIHEIIBdkytx7cKWyZC4GYAQA=);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        transition: transform 0.3s;
    }
    .clockdark {
        transform: rotate(180deg);
    }
}

.dlinstr {
    @apply text-gray-500 text-lg md:text-xl md:absolute md:w-full md:top-14 md:left-2 px-2 py-4 md:px-0 z-10;
}
.dlinstr * {
    @apply my-2 !important;
}
.dlinstr h4 {
    @apply text-2xl;
}
.dlinstr h5 {
    @apply font-semibold;
}

::-webkit-scrollbar {
    @apply w-2.5;
}

::-webkit-scrollbar-track {
    @apply bg-gray-900;
}

.markdown pre::-webkit-scrollbar {
    @apply h-2.5;
}

.markdown pre::-webkit-scrollbar-track {
    background-color: #0d1117;
    @apply rounded-md md:rounded-lg xl:rounded-xl;
}

::-webkit-scrollbar-thumb {
    @apply bg-gray-400 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-500;
}
